.main_content {
    padding-left: 100px;
    padding-right: 100px;
}

.main_content .custom_panel {
    background-color: #f4f8f9;
    border-radius: 5px !important;
}

.main_content .custom_panel h3 {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
}

.main_content .custom_panel h4 {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    line-height: 1.5;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 400 !important;
}

.main_content .rest_name {
    font-weight: bold !important;
    color: #00abc9;
    font-size: 16px;
}

.main_content .custom_panel table {
    width: 100%;
}

.main_content .custom_panel table td:first-child {
    width: 50%;
}

.main_content .custom_panel table td:nth-child(2) {
    width: 25%;
}

.main_content .custom_panel table td:nth-child(3) {
    color: #00abc9;
}

.custom_panel a {
    color: #00abc9;
}

.working-hours ul {
    padding: 0;
}

.working-hours ul:after {
    content: "";
    clear: both;
    display: table;
}

.working-hours ul li {
    list-style: none;
    display: block;
    padding: 0;
    margin: 10px 0 0 0;
}

/*.working-hours ul li:nth-of-type(odd) {
    float: left;
}

.working-hours ul li:nth-of-type(even) {
    float: right;
}*/
.working-hours ul li:after {
    content: "";
    clear: both;
    display: table;
}

.working-hours ul li label, .working-hours ul li div, .working-hours ul li input {
    display: block;
    float: left;
}

.working-hours ul li label {
    margin: 5px 0 0 0;
}

.working-hours ul li .checker {
    padding: 9px 0 0 0;
}

.working-hours ul li label:nth-of-type(1) {
    width: 50px;
}

.working-hours ul li input[type="text"] {
    width: 50px;
    margin: 0 10px;
}

#tab_1-1 form .margiv-top-10 {
    margin: 60px 0 0 0;
}

/*#tab_1-1 form >div:nth-of-type(odd) {
    float: left;
}

#tab_1-1 form >.form-group:nth-of-type(even) {
    float: left;
}*/

div.profile > div {
    float: none;
    margin: 0 auto;
}

.pick-page {
    width: 280px;
    margin: 0 auto;
}

.pick-page >h2 {
    margin: 0 0 20px 0;
}

.plan-card-container {
    background-color: #fff;
    border: 1px solid #d3d5d5;
    position: relative;
    min-height: 300px;
    padding: 20px;
}

.plan-card-container h1 {
    margin: 10px 0 0 0;
    font-weight: 400;
    padding: 0;
    text-align: center;
    font-size: 25px;
}

.plan-price {
    text-align: center;
}

.plan-card, .plan-price {
    color: #4b71fc;
    margin-bottom: 1rem;
}

.plan-card {
    border: 0;
    box-shadow: none;
    margin-bottom: 0;
    max-width: 16rem;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    text-align: center;
    width: 100%;
}

.plan-price-currency {
    font-size: 20px;
    position: relative;
    top: 0;
    vertical-align: top;
    letter-spacing: 2px;
}

.plan-price-integer-part {
    font-size: 50px;
    line-height: 40px;
}

.plan-price-fractional-part, .plan-price-separator, .plan-price-frequency {
    font-size: 17px;
}

.plan-card-description {
    text-align: center;
    color: #5d5b66;
}

.card-footer {
    text-align: center;
}

.card-button{
    background-color: #4b71fc;
    border: 0;
    color: #ffffff;
    margin: 70px 0 0 0;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 8px !important;
}


.elementsBlock{
    position: relative;
}
.elementsBlock .upDown{
    float: left;
    position: absolute;
    right: 13px;
}
.elementsBlock .upDown i{
    display: block;
}
.margin5{
    margin-top: 5px;
}

.header.navbar a.navbar-brand {
    padding: 0 !important;
    /*height: auto !important;*/
    height: 43px !important;
    padding-top: 7px !important;
}
.header.navbar a.navbar-brand img{
    height: 30px;
}
.addMore{
    line-height: 34px;
    color: #35aa47;
    cursor: pointer;
}

.customMargin {
    margin: 10px 0 0 74px;
}




/*upgrade page*/
button, button:active, button:focus{
    outline: none;
}
.elementLeft{
    float: left;
}
.elementRight{
    float: right;
}
.clearElement:after{
     content: '';
     display: table;
     clear: both;
}

.wholePage{
    padding: 65px 85px;
    font-family: 'Source Sans Pro';
}
.topTitle{
    font-size: 32px;
    color: #3d3d3d;
    font-family: 'Museo Slab 500';
}
.littleIext{
    font-family: 'Museo Slab 500';
    color: #a9a9a9;
    font-size: 18px;
    font-style: italic;
}
.plansPart{
    margin-top: 55px;
    margin-bottom: 40px;
    width: 100%;
}
.plan{
    width: 48%

}
.planTitle{
    font-size: 24px;
    width: 100%;
    color: white;
    background-color: #ff7e00;
    padding: 15px 28px;
    font-family: 'Museo Slab 500';
}
.planContent{
    border: 1px solid #ff7e00;
    padding: 23px;
    margin-top: 2px;
}
.price{
    color: #ff7e00;
    position: relative;
    font-family: 'Museo Slab 500';
}
.priceSign i{
    font-size: 25px;
}
.priceSign{
    position: absolute;
    top: 27px;
    left: -17px;
}
.priceMore {

}
.priceMore span{
    color: #ff7e00;
}
.bigPrice{
    font-size: 78px;
}
.smallPrice{
    font-size: 31px;
}
.choseButton{
    font-family: 'Museo Slab 500';
    font-size: 18px;
    color: #ff7e00;
    background-color: white;
    border: 1px solid #ff7e00;
    padding: 10px 34px;
    margin-top: 25px;
}
.choseButton:hover{
    color: white;
    background-color: #ff7e00;
}
.choseButton .fa-phone{
    font-size: 18px;
    margin-right: 10px;
}
.text{
    font-size: 26px;
    color: #292929;
    margin-top: 20px;
}
.pricePlace{
    margin-top: 30px;
}
.callText{
    font-size: 26px;
    text-align: center;
    padding: 0 100px;
}
.callText span{
    color: #ff7e00;
}
.callText2{
    margin-top: 28px;
    font-size: 26px;
    text-align: center;
}


/*table part*/
.tablePart{
    width: 100%;
    margin-top: 10px;
}
.tableTitle{
    font-size: 24px;
    font-family: 'Museo Slab 500';
    color: #989898;
    background-color: #d8d8d8;
    /*padding: 15px 30px;*/
}
.tableTitle:after{
    content: '';
    display: table;
    clear: both;
}
.titleTh{
    float: left;
    padding: 15px 30px;
    width: 33.3%;
}
.tableContent{
    font-size: 22px;
    color: #000;
    background-color: #efefef;
}
.tableContent:after{
    content: '';
    display: table;
    clear: both;
}
.tableTr{
    float: left;
    padding: 15px 30px;
    width: 33.3%;
    border-top: 2px solid white;
}
/*.tableTr:last-child{
    border-left: 1px solid #dbdbdb;
}
.titleTh:last-child{
    border-left: 1px solid white;
}*/

.tableTr .fa-check{
    font-size: 22px;
    color: #ff7e00;
}

@media screen and (min-width:1466px) and (max-width: 1614px) {
    .wholePage{
        padding: 65px 10px;
    }
}
@media screen and (max-width: 1466px) and (min-width: 760px) {
    .wholePage{
        padding: 65px 85px;
    }
    .plan {
        width: 100%;
    }
    .plan:last-child{
        margin-top: 20px;
    }

}
@media screen and (max-width: 760px)
{
    .wholePage{
        padding: 65px 10px;
    }
    .plan {
        width: 100%;
    }
    .plan:last-child{
        margin-top: 20px;
    }

}