body {
  min-height: 90vh;
}
/*header*/
.header {
  background-color: #393d52;
  padding: 0 20px;
}
.header.navbar {
  width: 100%;
  margin: 0;
  border: 0px;
  box-shadow: none;
  height: 50px;
  min-height: 50px;
}
.header .navbar-brand {
  padding: 0 !important;
  /* height: auto !important; */
  height: 43px !important;
  padding-top: 7px !important;
}
.header .navbar-brand img {
  height: 35px;
}
.header .user {
  position: relative;
  display: block;
}
.header .user a {
  padding: 10px 0px 6px 6px;
}
.header .dropdown > a {
  color: white;
}
.header .dropdown > a:hover,
.header .dropdown > a:active,
.header .dropdown > a:focus {
  color: #ff7e00;
  background-color: transparent;
}
.header .navbar-nav {
  margin: 0;
}
/*End header*/
/*Footer style*/
.footer {
  height: 40px !important;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #393d52;
  padding: 8px 20px 5px 20px;
  font-size: 12px;
}
.footer:after {
  content: "";
  display: table;
  clear: both;
}
.footer ul:after {
  content: "";
  display: table;
  clear: both;
}
.footer ul {
  float: left;
  display: block;
  /*height: 100%;*/
  margin: 0;
}
.footer ul li {
  float: left;
  height: 100%;
  padding: 0 10px;
  list-style: none;
  position: relative;
}
.footer ul li a {
  display: block;
  color: #ffffff;
  font-size: 16px;
  position: relative;
  font-family: 'Arial';
}
.footer ul li a:after {
  content: "";
  position: absolute;
  display: block;
  width: 1px;
  height: 19px;
  background-color: #ffffff;
  right: -10px;
  top: 2px;
}
.first_part:after {
  content: "";
  clear: both;
  display: block;
}
.footer ul li:last-child a:after {
  display: none;
}
.form-title {
  color: #ff7e00 !important;
}
.orange {
  background-color: #ff7e00;
  color: white;
}
.orange:hover {
  background-color: #ff7e00;
  color: white;
}
.cst-form-button {
  width: 100px;
}
.login .content .input-icon {
  border-left: 2px solid #ff7e00 !important;
}
/*Footer style End*/
