.activation .infoStatistic {
  width: 100%;
  margin-top: 45px;
  background-color: #3a3c52;
  color: white;
}
.activation .infoStatistic .part1 {
  padding: 40px 0;
}
.activation .infoStatistic .part1 h1 {
  margin: 0;
  padding: 0;
  font-size: 36px;
}
.activation .infoStatistic .part1 h1 mark {
  padding: 0;
  background-color: #3a3c52;
  color: white;
  font-weight: 700;
}
.activation .infoStatistic .part1 .statisticPart {
  width: 890px;
  margin: 0 auto;
  padding: 80px 0;
}
.activation .infoStatistic .part1 .statisticPart .statistic {
  font-size: 24px;
  margin-right: 30px;
  max-width: 285px;
  text-align: center;
}
.activation .infoStatistic .part1 .statisticPart .statistic:last-child {
  margin-right: 0;
}
.activation .infoStatistic .part1 .statisticPart .statistic i {
  font-size: 35px;
}
.activation .infoStatistic .part1 .getButton {
  color: white;
  background-color: #00897B;
  border: none;
  padding: 10px 40px;
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  margin: 0 auto;
}
.activation .sliderAbout {
  position: relative;
}
.activation .videoAbout {
  width: 100%;
  height: 500px;
  background-color: #3a3c52;
  display: table;
}
.activation .videoAbout .videoM {
  display: table-cell;
  vertical-align: middle;
}
.activation .videoAbout .videoM .videoPart {
  margin: 0 auto;
  max-width: 700px;
  height: 80%;
}
.accessPopup {
  padding: 30px 15px;
}
.accessPopup .buttonInputGroup {
  position: relative;
  width: 380px;
  margin: 0 auto;
}
.accessPopup .buttonInputGroup input {
  background-color: white;
  border: 1px solid #9e9e9e;
  height: 40px;
  padding: 0 20px;
  outline: none;
  width: 100%;
}
.accessPopup .buttonInputGroup .findButton {
  color: white;
  background-color: #00897B;
  border: none;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 0 15px;
}
