.ban {
  width: 100%;
  height: 148px;
  position: absolute;
  background: rebeccapurple;
  top: -148px;
  visibility: hidden;
}
button:focus {
  outline: none;
}
.starColor {
  color: #ffc200;
}
.starGrey {
  color: #d9dadf;
}
.margin15 {
  margin-top: 15px;
}
.font16 {
  font-size: 16px;
}
.with100 {
  width: 100%;
}
.marginR10 {
  margin-right: 10px;
}
.writeComment {
  background-color: #3d3f52;
  color: white;
  font-size: 16px;
  border: 1px solid #3d3f52;
  font-weight: 400;
  padding: 5px;
  min-width: 80px;
}
.doubleButtons button {
  font-size: 14px;
}
.doubleButtons button:first-child {
  margin-right: 10px;
  background-color: white;
  color: #3d3f52;
  transition: all 0.3s;
}
.doubleButtons button:first-child:hover {
  background-color: #3d3f52;
  color: white;
  transition: all 0.3s;
}
.sharesPopup p::first-letter {
  font-size: 200%;
  color: #3d3f52;
}
.sharesPopup img {
  width: 100%;
  height: auto;
}
.sharesPopup i {
  font-size: 20px;
  margin-right: 10px;
}
.navbar-default .navbar-nav > .active > a {
  color: white !important;
  background: rgba(52, 54, 74, 0.95) !important;
}
.navbar-default .navbar-nav a {
  color: white !important;
}
.restPageContainer {
  width: 100%;
  height: 150px;
  position: relative;
}
.restPageContainer .pageContainer {
  margin: 30px;
  position: absolute;
  top: -177px;
}
.restPageContainer .pageContainer .containerTop {
  padding: 30px;
  border-bottom: 1px solid #efefef;
  background-color: white;
}
.restPageContainer .pageContainer .containerTop:after {
  content: '';
  display: table;
  clear: both;
}
.restPageContainer .pageContainer .containerTop .titlePart {
  font-size: 22px;
  margin-bottom: 20px;
}
.restPageContainer .pageContainer .containerTop .positioningCall {
  position: relative;
  width: 200px;
  float: left;
}
.restPageContainer .pageContainer .containerTop .positioningCall .numberInputPart {
  background-color: white;
  padding: 7px;
  text-align: center;
  color: #3d3f52;
  border: 1px solid;
  cursor: pointer;
}
.restPageContainer .pageContainer .containerTop .positioningCall .numberInputPart:hover {
  background-color: #3d3f52;
  color: white;
}
.restPageContainer .pageContainer .containerTop .positioningCall .dropMenu {
  margin-top: 2px;
}
.restPageContainer .pageContainer .containerTop .positioningCall .dropMenu input {
  width: 100%;
  background-color: white;
  color: #3d3f52;
  border: 1px solid #3d3f52;
  outline: 0;
}
.restPageContainer .pageContainer .containerTop .textToday {
  float: left;
  margin-left: 20px;
  line-height: 35px;
  font-size: 14px;
}
.restPageContainer .pageContainer .containerTop .hours {
  float: left;
  height: 36px;
  margin-left: 20px;
  outline: none;
}
.restPageContainer .pageContainer .containerTop .rating {
  float: left;
  line-height: 35px;
  margin-left: 20px;
}
.restPageContainer .pageContainer .containerTop .rating .lead {
  margin: 0;
  line-height: 35px;
}
.restPageContainer .pageContainer .containerContent {
  position: relative;
}
.restPageContainer .pageContainer .containerContent .containerPart {
  padding: 30px;
}
.restPageContainer .pageContainer .containerContent .containerPart:first-child {
  width: 35%;
}
.restPageContainer .pageContainer .containerContent .containerPart:last-child {
  width: 65%;
  padding-left: 0;
  padding-right: 0;
  border-left: 1px solid #efefef;
}
.restPageContainer .pageContainer .containerContent .containerPart .moreInfo {
  margin-top: 20px;
}
.restPageContainer .pageContainer .containerContent .containerPart .moreInfo .introTitle {
  font-weight: 700;
}
.restPageContainer .pageContainer .containerContent .containerPart .mapPartTitle {
  padding: 0 0 20px 20px;
  border-bottom: 1px solid #efefef;
}
.restPageContainer .pageContainer .containerContent .containerPart .mapPartMap {
  padding: 20px 20px 0 20px;
}
.restPageContainer .pageContainer .containerContent .containerPart .mapPartMap .map {
  border: 1px solid #efefef;
}
.restPageContainer .pageContainer .containerContent .containerPart .mapPartContent {
  padding: 20px;
}
.restPageContainer .pageContainer .containerContent .containerPart .mapPartContent .moreInfoAddress {
  margin-bottom: 15px;
}
.restPageContainer .pageContainer .containerContent .containerPart .mapPartContent .moreInfoAddress .introTitle {
  font-weight: 700;
  margin-right: 20px;
}
.restPageContainer .pageContainer .containerContent .container1 {
  background-color: white;
}
.restPageContainer .pageContainer .containerContent .container3 .fillRestMenu {
  width: 100%;
  height: auto;
  background-color: #efefef;
  margin-top: 10px;
  border: 1px solid #efefef;
  padding: 20px;
}
.restPageContainer .pageContainer .containerContent .container3 .fillRestMenu .testyFood {
  width: 250px;
  height: 250px;
  overflow: auto;
  border: 1px solid #797979;
  margin-right: 20px;
  padding: 20px;
  background-color: white;
  cursor: pointer;
}
.restPageContainer .pageContainer .containerContent .container3 .fillRestMenu .testyFood .foodTitle {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #3d3f52;
}
.restPageContainer .pageContainer .containerContent .container3 .fillRestMenu .testyFood .foodDescription {
  font-size: 14px;
  margin-bottom: 10px;
}
.restPageContainer .pageContainer .containerContent .container3 .fillRestMenu .testyFood .foodPrice {
  color: #383547;
  font-weight: 800;
  font-size: 18px;
}
.restPageContainer .pageContainer .containerContent .container3 .chooseRestMenu {
  border: 1px solid #797979;
  min-width: 80px;
  text-align: center;
  font-size: 14px;
  height: 32px;
  background-color: white;
  transition: 0.3s;
  outline: none;
}
.restPageContainer .pageContainer .containerContent .container3 .chooseRestMenu:hover {
  background-color: #3d3f52;
  color: white;
  border: 1px solid #3d3f52;
  transition: 0.3s;
}
.restPageContainer .pageContainer .containerContent .container3 .chooseRestMenu:focus {
  outline: none;
}
.restPageContainer .pageContainer .containerContent .container4 .specAllInfo {
  margin: 0 15px 15px 0;
}
.restPageContainer .pageContainer .containerContent .container4 .specAllInfo img {
  width: 200px;
  height: auto;
}
.restPageContainer .pageContainer .containerContent .container4 .specAllInfo .SpecInfo {
  margin-left: 10px;
}
.restPageContainer .pageContainer .containerContent .container4 .specAllInfo .SpecInfo div {
  margin-bottom: 5px;
}
.restPageContainer .pageContainer .containerContent .container4 .specAllInfo .SpecInfo .specialistName {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 16px;
  color: #3d3f52;
}
.restPageContainer .pageContainer .containerContent .container4 .specAllInfo .SpecInfo .specialistProf {
  font-size: 14px;
  font-weight: 600;
  color: #3d3f52;
}
.restPageContainer .pageContainer .containerContent .container5 .writeContent {
  height: 160px;
  overflow: hidden;
  transition: 0.3s;
}
.restPageContainer .pageContainer .containerContent .container5 .writeContent.hideWriteContent {
  height: 0;
  transition: 0.3s;
}
.restPageContainer .pageContainer .containerContent .container5 .writeContent textarea {
  min-width: 400px;
  height: 100px;
  resize: none;
  padding: 10px;
}
.restPageContainer .pageContainer .containerContent .container5 .writeContent textarea:focus {
  outline: none;
}
.restPageContainer .pageContainer .containerContent .container5 .commentContent {
  border-top: 1px solid #efefef;
  padding: 25px 0;
}
.restPageContainer .pageContainer .containerContent .container5 .commentContent .commentTopPart {
  margin-bottom: 5px;
}
.restPageContainer .pageContainer .containerContent .container5 .commentContent .commentTopPart .name {
  font-size: 16px;
  font-weight: 700;
}
.restPageContainer .pageContainer .containerContent .container5 .bottomPart {
  border-top: 1px solid #efefef;
  padding: 10px 0 0 0;
}
.restPageContainer .pageContainer .containerContent .container5 .bottomPart button {
  font-size: 14px;
  padding: 5px;
  width: 200px;
}
.restPageContainer .pageContainer .containerContent .pages {
  background-color: white;
  margin-top: 10px;
  padding: 20px;
}
.restPageContainer .pageContainer .containerContent .pages:after {
  content: '';
  display: table;
  clear: both;
}
.restPageContainer .pageContainer .containerContent .pages .containerTitle {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}
.restPageContainer .pageContainer .containerContent .pages .containerContent {
  display: table;
  float: left;
  margin: 10px 15px 0 0;
}
.restPageContainer .pageContainer .containerContent .pages .containerContent:last-child {
  margin-right: 0;
}
.restPageContainer .pageContainer .containerContent .pages .containerContent .shareItem {
  width: 250px;
  height: 100px;
  text-align: center;
  border: 2px dashed #797979;
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
}
