@mainColor:#3d3f52;
@secondColor:white;
@orangeColor: #ff7e00;
.ban {
  width: 100%;
  height: 148px;
  position: absolute;
  background: rebeccapurple;
  top: -148px;
  visibility: hidden;
}

button{
  &:focus{
    outline: none;
  }
}
.ownerButton{
  padding: 10px;
  border: 1px solid #ff7e00;
  background-color: #ff7e00;
  color: white;
  &:hover{
    color: @mainColor;
    background-color: white;
  }
}
.starColor{
  color:#ffc200;
}
.starGrey{
  color: #d9dadf;
}
.margin15{
  margin-top: 15px;
}
.font16{
  font-size: 16px;
}
.with100{
  width: 100%;
}
.marginR10{
  margin-right: 10px;
}
.writeComment{
  background-color: #ff7e00;
  color: white;
  font-size: 16px;
  border: 1px solid #ff7e00;
  font-weight: 400;
  padding: 5px;
  min-width: 80px;
}
.doubleButtons{
  button{
    font-size: 14px;
    &:first-child{
      margin-right: 10px;
      background-color: white;
      color: @mainColor;
      transition: all 0.3s;
      &:hover{
        background-color: @mainColor;
        color: white;
        transition: all 0.3s;
      }
    }
  }
}
.sharesPopup{
  p{
    &::first-letter {
      font-size: 200%;
      color: @mainColor;
    }
  }
  img{
    width: 100%;
    height: auto;
  }
  i{
    font-size:  20px;
    margin-right: 10px;
  }
}

.navbar-default {
  .navbar-nav {
    li{
      margin-right: 25px;
    }
    > .active {
      > a {
        color: @orangeColor !important;
        background-color: white !important;
      }
    }
    a{
      color: #919090 !important;
      padding: 15px 0 !important;
    }
  }
  &.fixedNav{
    .navbar-nav {
      li{
        margin-right: 25px;
      }
      > .active {
        > a {
          color: @orangeColor !important;
          background-color: transparent !important;
        }
      }
      a{
        color: white !important;
        padding: 15px 0 !important;
      }
    }
  }
}
.mobile-menu-icon {
  position: absolute;
  top: 13px;
  right: 42px;
  width: 30px;;
  height: 23px;
  z-index: 300;
  cursor: pointer;
  overflow: hidden;
  display: block;

  span {
    display: block;
    width: 100%;
    height: 3px;
    background: @secondColor;
    position: absolute;

    &:nth-of-type(1) {
      top: 0;
      -webkit-transition-property: top, -webkit-transform;
      transition-property: top, transform;
      -webkit-transition-delay: 0.3s, 0s;
      transition-delay: 0.3s, 0s;
      -webkit-transition-duration: 0.3s, 0.3s;
      transition-duration: 0.3s, 0.3s;
    }

    &:nth-of-type(2) {
      top: 10px;
      -webkit-transition-property: -webkit-transform, -webkit-transform;
      transition-property: transform, transform;
      -webkit-transition-delay: 0s, 0.3s;
      transition-delay: 0s, 0.3s;
      transition-duration: 0.3s, 0.3s;
      -webkit-transition-duration: 0.3s, 0.3s;
    }

    &:nth-of-type(3) {
      bottom: 0;
      -webkit-transition-property: bottom, -webkit-transform;
      transition-property: bottom, transform;
      -webkit-transition-delay: 0.3s, 0s;
      transition-delay: 0.3s, 0s;
      -webkit-transition-duration: 0.3s, 0.3s;
      transition-duration: 0.3s, 0.3s;
    }
  }

  &.animate {
    >span {
      &:nth-of-type(1) {
        top: 10px;
        transform: rotate(45deg);
        -webkit-transition-delay: 0s, 0.3s;
        transition-delay: 0s, 0.3s;
      }

      &:nth-of-type(2) {
        transform: translateX(-100px);
        -webkit-transition-delay: 0.3s, 0s;
        transition-delay: 0.3s, 0s;
      }

      &:nth-of-type(3) {
        bottom: 10px;
        transform: rotate(-45deg);
        -webkit-transition-delay: 0s, 0.3s;
        transition-delay: 0s, 0.3s;
      }
    }
  }
}
.openToWrite{
  height: 40px !important;
  overflow: auto;
  transition: 0.3s;
}
.restPageContainer{
  width: 100%;
  .pageTop{
    margin: 60px 30px 0 30px;
    height: 350px;
    .topLeft{
      margin-right: 1%;
      width: 34%;
      overflow: hidden;
      height: 100%;
      .leftPart{
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        .viewImage{
          position: absolute;
          top:40%;
          left: 45%;
          width: 40px;
          height: 40px;
          font-size: 23px;
          background: rgba(52,54,74,.7);
          color: white;
          cursor: pointer;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -ms-flex-align: center;
          -webkit-align-items: center;
          -webkit-box-align: center;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .rightPart{
      width: 65%;
    }
    .mapPartMap{

      .map{
        border: 1px solid #efefef;
        height: 350px;
      }
    }
  }
  .pageContainer{
    margin: 15px 30px 0 30px;
    width: 100%;
    .containerTop{
      padding: 30px;
      border-bottom: 1px solid #efefef;
      background-color: white;
      &:after{
        content: '';
        display: table;
        clear: both;
      }
      .positioningCall{
        position: relative;
        width: 200px;
        float: left;
        .numberInputPart{
          background-color: white;
          padding: 7px;
          text-align: center;
          color: @mainColor;
          border: 1px solid;
          cursor: pointer;
          &:hover{
            background-color: @mainColor;
            color: white;

          }
        }
        .dropMenu{
          margin-top: 2px;
          input{
            width: 100%;
            background-color: white;
            color: @mainColor;
            border: 1px solid @mainColor;
            outline: 0;
          }
        }
      }

      .textToday{
        float: left;
        margin-left: 20px;
        line-height: 35px;
        font-size: 14px;
      }
      .hours{
        float: left;
        height: 36px;
        margin-left: 20px;
        outline: none;
      }
      .rating{
        float: left;
        line-height: 35px;
        margin-left: 20px;
        .lead{
          margin: 0;
          line-height: 35px;
        }
      }

    }
    .containerContent{
      position: relative;

      .moreInfoAddress{
        margin-bottom: 15px;
        .introTitle{
          font-weight: 700;
          margin-right: 20px;
          font-size: 18px;
        }
        .introContent{
          font-size: 16px;
          display: inline-table;
          .infoTitle{
            font-size: 16px;
            font-weight: 700;
            color: #777777;
            margin-bottom: 5px;
          }
          &.hourContent{
            margin: 10px 20px 0 20px;
            .infoHour{
              //font-weight: 500;
              margin-bottom: 5px;
              &:last-child{
                margin-bottom: 0;
              }
            }
          }
        }
        .hourBlock{
          background-color: #f3f3f3;
          padding: 0 14px 20px 0;
          margin-top: 20px;
        }
      }

      .containerPart{
        padding: 30px;
        &:first-child{
          width: 35%;
        }
        &:last-child{
          width: 65%;
          padding-left: 0;
          padding-right: 0;
          border-left: 1px solid #efefef;
        }
        .intro{
          width: 100%;
        }
        .moreInfo{
          margin-top: 20px;
          .introTitle{
            font-weight: 700;
            font-size: 20px;
            border-bottom: 1px solid #bcbcbc;
            .doubleBorder{
              border-bottom: 2px solid #ff7e00;
            }
          }
          .introContent{
            font-size: 16px;
          }
        }

        .mapPartTitle{
          padding:0 0 20px 20px;
          border-bottom: 1px solid #efefef;
          font-size: 16px;
        }
        .mapPartContent{
          padding-top: 20px;
          /*.moreInfoAddress{
            margin-bottom: 15px;
            .introTitle{
              font-weight: 700;
              margin-right: 20px;
              font-size: 18px;
            }
            .introContent{
              font-size: 16px;
              .infoTitle{
                font-size: 16px;
                font-weight: 700;
                color: #00897B;
                margin-bottom: 5px;
              }
              &.hourContent{
                margin: 10px 20px 0 0;
                .infoHour{
                  //font-weight: 500;
                  margin-bottom: 5px;
                  &:last-child{
                    margin-bottom: 0;
                  }
                }
              }
            }
            .hourBlock{
              background-color: #f3f3f3;
              padding: 0 20px 20px 20px;
            }
          }*/
        }
        .working{
          margin: 33px 20px 0 20px;
          .introTitle{
            font-weight: 700;
            font-size: 20px;
            border-bottom: 1px solid #bcbcbc;
            .doubleBorder{
              border-bottom: 2px solid #ff7e00;
            }
          }
        }

      }
      .container1{
        background-color: white;
        .titlePart{
          font-weight: 500;
          color: @orangeColor;
          font-size: 20px;
        }
      }
      .container3{
        .fillRestMenu{
          width: 100%;
          height: auto;
          background-color: #efefef;
          margin-top: 10px;
          border: 1px solid #efefef;
          padding: 20px;
          .testyFood{
            margin-top: 10px;
            width: 250px;
            height: 250px;
            overflow: auto;
            border: 1px solid #797979;
            margin-right: 20px;
            padding: 20px;
            background-color: white;
            cursor: pointer;
            .foodTitle{
              font-size: 16px;
              font-weight: 700;
              margin-bottom: 10px;
              color: #3d3f52;
            }
            .foodDescription{
              font-size: 14px;
              margin-bottom: 10px;
            }
            .foodPrice{
              color: #383547;
              font-weight: 800;
              font-size: 18px;
            }
          }
        }
        .chooseRestMenu{
          border: 1px solid #797979;
          min-width: 80px;
          text-align: center;
          font-size: 14px;
          height: auto;
          background-color: white;
          transition: 0.3s;
          outline: none;
          padding: 5px;
          &:hover{
            background-color: @mainColor;
            color: @secondColor;
            border: 1px solid @mainColor;
            transition: 0.3s;
          }
          &:focus{
            outline: none;
            background-color: @mainColor;
            color: @secondColor;
            border: 1px solid @mainColor;
            transition: 0.3s;
          }
          &.active{
            background-color: @mainColor;
            color: @secondColor;
            border: 1px solid @mainColor;
            transition: 0.3s;
          }
        }

      }
      .container4{
        .specAllInfo{
          margin: 0 15px 15px 0;
          img{
            width: 200px;
            height: auto;
          }
          .SpecInfo{
            div{
              margin-bottom: 5px;
            }
            margin-left: 10px;

            .specialistName{
              font-weight: 700;
              margin-bottom: 5px;
              font-size: 16px;
              color: @mainColor;
            }
            .specialistProf{
              font-size: 14px;
              font-weight: 600;
              color: #3d3f52;
            }
            .specialistInfo{}
          }
        }
      }
      .container5{
        .writeContent{
          height: 160px;
          overflow: hidden;
          transition: 0.3s;
          &.hideWriteContent{
            height: 0;
            transition: 0.3s;
          }
          textarea{
            min-width: 400px;
            height: 100px;
            resize: none;
            padding: 10px;
            &:focus{
              outline: none;
            }
          }
          button{

          }
        }
        .commentContent{
          border-top: 1px solid #efefef;
          padding: 25px 0 25px 40px;
          .commentTopPart{
            margin-bottom: 5px;
            .name{
              font-size: 16px;
              font-weight: 700;
            }
            .rate{}
            .photo{
              width: 40px;
              height: 40px;
              border-radius: 100%;
              background-color: @mainColor;
              color: @secondColor;
              text-align: center;
              line-height: 40px;
              font-size: 16px;
              text-transform: capitalize;
              img{
                width: 100%;
                height: auto;
              }
            }

          }
          .comment{
            max-width: 800px;
            display: inline-block;
          }
          .replyOpen{
            margin-left: 20px;
            color: #3d3f52;
            font-weight: 600;
            cursor: pointer;
          }
          .subComment{
            .commentContent{
              max-width: 800px;
              margin: 0 30px;
              background-color: #efefef;
              padding-left: 20px;
              border-bottom: 5px solid @secondColor;
            }
          }
          .writeSubComment{
            margin: 10px 30px;
            height: 0;
            overflow: hidden;
            transition: 0.3s;
            .replyInput{
              background-color: white;
              height: 40px;
              width: 30%;
              border-right: 0;
            }
            .replyButton{
              background-color: #efefef;
              height: 100%;
              width: 30px;
              border: 1px solid #9e9e9e;
              border-left: none;
              color: #9e9e9e;
            }
          }
        }
        .bottomPart{
          border-top: 1px solid #efefef;
          padding: 10px 0 0 0;
          button{
            font-size: 14px;
            padding: 5px;
            width: 200px;
          }
        }
      }

      .container6{
        img{
          width: 200px;
          height: 200px;
        }
      }
      .pages{
        background-color: white;
        margin-top: 10px;
        padding: 20px;
        &:after{
          content: '';
          display: table;
          clear: both;
        }
        .containerTitle{
          font-size: 22px;
          font-weight: 700;
          margin-bottom: 20px;
        }
        .containerContent{
          display: block;
          float: left;
          margin: 10px 15px 0 0;
          &:last-child{
            margin-right: 0;
          }
          .shareItem{
            width: 250px;
            height: 100px;
            text-align: center;
            border: 2px dashed #797979;
            display: table-cell;
            vertical-align: middle;
            cursor: pointer;
          }
        }

      }
    }
  }
}

footer{
  background-color: #3d3f52;
  color: white;
  padding-top: 20px;
  .copyRight{
    color: #a3a4ae;
  }
  .line{
    width: 100%;
    height: 1px;
    background-color: #a3a4ae;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  .row{
    padding: 0 140px;
  }
  img{
    height: 20px;
  }
  .footerText{
    font-size: 18px;
    margin-top: 4px;
    cursor: pointer;
    &:hover{
      color: #ff7e00;
      a{
        color: #ff7e00;
      }
    }
    a{
      color: white;

    }
  }
  .footerExplane{
    line-height: 16px;
    margin-top: 7px;
  }
  .footerSocial{
    margin-top: 10px;
    i{
      font-size: 16px;
      margin-right: 10px;
      cursor: pointer;
      &:hover{
        color: #ff7e00;
      }
    }
  }
}


@media screen and (max-width: 800px){
  .restPageContainer{
    .pageContainer{
      top: -30px;
      .containerContent{
        .container1{
          .containerPart{
            padding: 15px;
            width: 100%;
            float: none;

            .mapPartMap {
              padding: 20px 10px 0;
            }
          }
        }

        .container5 {
          .commentContent {
            .subComment {
              .commentContent {
                margin: 0;
              }
            }
          }
        }

      }
    }
  }
}

/*owl carusel*/
.owl-cont{

  .owl-carousel{
    padding: 0 45px;
    position: relative;
    .owl-nav{
      .owl-prev{
        position: absolute;
        left: 0;
        top: 40%;
        width: 30px;
        height: 30px;
        background-color: #C7C7CD;
        text-align: center;
        font-size: 20px;
        color: @mainColor;
      }
      .owl-next{
        text-align: center;
        font-size: 20px;
        position: absolute;
        right: 0;
        top: 40%;
        width: 30px;
        height: 30px;
        background-color: #C7C7CD;
        color: @mainColor;
      }
    }
  }
}
