.organizationContent {
  color: #000;
  background-color: white;
  width: 100%;
  margin-top: 40px;
}
.organizationContent .special {
  color: #ff7e00;
}
.organizationContent .organization {
  padding: 125px 150px 120px 150px;
}
.organizationContent .organization .organizationTitle {
  font-size: 65px;
  font-family: 'Museo Slab 500';
  color: #3d3d3d;
}
.organizationContent .organization .subTitle {
  margin-top: 65px;
  font-size: 35px;
  font-family: 'Museo Slab 500';
  color: #3d3d3d;
  border-bottom: 1px solid #dddddd;
  width: auto;
  display: inline-block;
}
.organizationContent .organization .subTitle .line {
  height: 2px;
  background-color: #ff7e00;
  width: 90px;
}
.organizationContent .organization .subContent {
  font-size: 26px;
  font-family: 'Source Sans Pro';
  color: #3d3d3d;
  margin-top: 26px;
  font-weight: 600;
  color: #716f6f;
  text-align: justify;
}
.organizationContent .organization .fourBlocks {
  margin-top: 40px;
}
.organizationContent .organization .fourBlocks .block {
  text-align: center;
}
.organizationContent .organization .fourBlocks .block .blockRound {
  font-size: 42px;
  color: #ff7e00;
  border: 1px solid #dfdfdf;
  display: inline-block;
  padding: 7px 0 0 0;
  text-align: center;
  height: 60px;
  width: 112px;
  border-radius: 90px 90px 0 0;
  -moz-border-radius: 90px 90px 0 0;
  -webkit-border-radius: 90px 90px 0 0;
  background: white;
  border-bottom: none;
  z-index: 22;
  position: relative;
}
.organizationContent .organization .fourBlocks .block .blockRect {
  border: 1px solid #dddddd;
  position: relative;
  top: -1px;
  padding: 20px;
  border-radius: 10px;
}
.organizationContent .organization .fourBlocks .block .blockRect .rectTitle {
  font-size: 22px;
  font-family: 'Museo Slab 500';
  color: #3d3f52;
}
.organizationContent .organization .fourBlocks .block .blockRect .rectText {
  font-size: 16px;
  padding-top: 10px;
  font-family: 'Source Sans Pro';
  font-weight: 600;
  color: #716f6f;
}
.organizationContent .organization .buttonBlock {
  font-family: 'Museo Slab 500';
  text-align: center;
}
.organizationContent .organization .buttonBlock .buttonPart {
  font-size: 22px;
  color: #3d3f52;
  border: 1px solid #ff7e00;
  padding: 16px 18px;
  background-color: white;
  border-radius: 10px;
  /*display: inline-block;*/
  box-sizing: border-box;
  margin: auto;
  margin-top: 80px;
}
.organizationContent .organization .buttonBlock .buttonPart i {
  margin-left: 27px;
  color: #ff7e00;
  transition: 0.3s;
}
.organizationContent .organization .buttonBlock .buttonPart:hover i {
  padding: 0 5px;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
