.chosenStyles {
  line-height: 40px;
  color: #9c9da8;
}
.chosenStyles .chosen-container {
  width: 150px !important;
  height: 40px !important;
  line-height: 40px !important;
}
.chosenStyles .chosen-container .chosen-single {
  height: 40px !important;
  line-height: 40px !important;
  background-image: none;
  border-radius: 0;
  outline: none;
  color: #9c9da8;
  box-shadow: none;
  border-left: 1px solid #9c9da8;
  border-right: 1px solid #9c9da8;
}
.chosenStyles .chosen-container .chosen-single:focus,
.chosenStyles .chosen-container .chosen-single:active {
  background-image: none;
  outline: none;
}
.chosenStyles .chosen-container .chosen-single div {
  top: 8px !important;
}
.chosenStyles .chosen-container .chosen-single div b {
  background: none;
}
.chosenStyles .chosen-container .chosen-single div b:before {
  content: "\f106";
  font-family: FontAwesome;
  left: -5px;
  position: absolute;
  top: -7px;
  color: #9c9da8;
}
.chosenStyles .chosen-container .chosen-drop {
  background: #3d3f52;
  color: #9c9da8;
}
.chosenStyles .chosen-container .chosen-results {
  color: #9c9da8;
}
.chosenStyles .chosen-container .chosen-results li.highlighted {
  background-color: white;
  color: #3d3f52;
  background-image: none;
}
.chosenStyles .chosen-container-single {
  width: 150px !important;
  height: 40px !important;
  line-height: 40px !important;
}
.chosenStyles .chosen-container-single .chosen-single {
  height: 40px !important;
  line-height: 40px !important;
  background-image: none !important;
  border: none;
  outline: none;
  box-shadow: none;
  border-left: 1px solid #9c9da8;
  border-right: 1px solid #9c9da8;
}
.chosenStyles .chosen-container-single .chosen-single:focus,
.chosenStyles .chosen-container-single .chosen-single:active {
  background-image: none;
  outline: none;
}
.chosenStyles .chosen-container-single .chosen-single div {
  top: 8px !important;
}
.chosenStyles .chosen-container-single .chosen-single div b {
  background: none;
}
.chosenStyles .chosen-container-single .chosen-single div b:before {
  content: "\f107";
  font-family: FontAwesome;
  left: -5px;
  position: absolute;
  top: -7px;
  color: #9c9da8;
}
.chosenStyles .chosen-container-single .chosen-default {
  color: #9c9da8;
}
.chosenStyles .chosen-container-active {
  width: 150px !important;
  height: 40px !important;
  line-height: 40px !important;
}
.chosenStyles .chosen-container-active.chosen-with-drop .chosen-single {
  border-top: none !important;
}
.chosenStyles .chosen-container-active .chosen-single {
  height: 40px !important;
  line-height: 40px !important;
  background-image: none !important;
  color: #9c9da8;
  /*border: 1px solid white;*/
  outline: none;
  box-shadow: none;
  border-left: 1px solid #9c9da8;
  border-right: 1px solid #9c9da8;
}
.chosenStyles .chosen-container-active .chosen-single:focus,
.chosenStyles .chosen-container-active .chosen-single:active {
  background-image: none;
  outline: none;
}
.chosenStyles .chosen-container-active .chosen-single div {
  top: 8px !important;
}
.chosenStyles .chosen-container-active .chosen-single div b {
  background: none;
}
.chosenStyles .chosen-container-active .chosen-single div b:before {
  content: "\f107";
  font-family: FontAwesome;
  left: -5px;
  position: absolute;
  top: -7px;
  color: #9c9da8;
}
.chosenStyles .chosen-with-drop .chosen-single {
  height: 40px !important;
  line-height: 40px !important;
  background-image: none !important;
  border: none;
  outline: none;
  box-shadow: none;
  border-left: 1px solid #9c9da8;
  border-right: 1px solid #9c9da8;
  color: #9c9da8;
}
.chosenStyles .chosen-with-drop .chosen-single:focus,
.chosenStyles .chosen-with-drop .chosen-single:active {
  background-image: none;
  outline: none;
  box-shadow: none;
}
.chosenStyles .chosen-with-drop .chosen-single div {
  top: 8px !important;
}
.chosenStyles .chosen-with-drop .chosen-single div b {
  background: none;
}
.chosenStyles .chosen-with-drop .chosen-single div b:before {
  content: "\f106";
  font-family: FontAwesome;
  left: -5px;
  position: absolute;
  top: -7px;
  color: #9c9da8;
}
