@mainColor:#3d3f52;
@secondColor:white;
.chosenStyles{
  line-height: 40px;
  .chosen-container{
    width: 150px !important;
    height: 40px !important;
    line-height: 40px !important;
    .chosen-single{
      height: 40px !important;
      line-height: 40px !important;
      div{
        top: 8px !important;
      }
    }
  }
}
